@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


*{
  margin: 0px;
  font-family:'Poppins';

}


header{
  width: 100%;height:auto;
  background-image: linear-gradient(rgba(0,0,0,0.7),
                      rgba(0,0,0,0.7)),
                      url('headerbg.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(0,0,0,0.7);
}

header nav .logotxt{
  text-transform: uppercase;
  color: #3079ed;
  float:left;
  margin:5px;
  color: #fff1eb;
  font-size: 1.8rem;
  padding: 15px;

}

header nav ul{
  display: flex; list-style: none;
}

header nav ul li{ margin-left: 30px; }

header nav ul li a{
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  font-size: 1.3rem;
  transition: all 0.3s;
  font-family: 'Poppins',sans-serif;
}

header nav ul li a.active, header nav ul li a:hover{
  color: #3079ed;
  font-size: 1.4rem;
}
body{
 margin: 0px;
 background: radial-gradient(circle, rgba(237,200,234,1) 3%, rgba(216,250,247,1) 100%);
 justify-content: center;
 align-items: center;
}

.container{
 width: 90%;
 margin: 0px;
}
.heading{
 color: #000;
 text-align: center;
 font-size: 50px;
 text-align: justify;
 text-align: center;
 font-family: 'Poppins',sans-serif;
letter-spacing: 1px;
  padding:20px;
}

p{
 text-align: justify;
 margin-left: 80px;
 background:#fff;
 font-size: 17px;
 max-height: 0;
 overflow: hidden;
 line-height: 1.6;
 font-family:'Poppins';
 transition: all 0.3s;
}

button{
margin-left: 80px;
 width: 100%;
 text-align: left;
 cursor: pointer;
 font-family:'Poppins';
 color: #fff;
 background-color: #146296;
border-radius: 15px;
 font-size: 19px;
 border:none; outline: none;
 padding: 15px;
 border-bottom:2px solid #111;
 user-select: none;
}
button:hover{
    background: #0086cc;
    opacity: 0.8;
    color: #000000;
}
b{

  	 text-align: justify;
     text-align: center;
     font-family: 'Poppins',sans-serif;
  	letter-spacing: 1px;
    padding: 15px;
    margin:15px;

}

section{
  margin-bottom: 15px;
}


.arrow {
  float: right;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
